@font-face { 
  font-family: 'Century Gothic'; 
  src: url('../font/8483_0.woff') format('woff'), 
  src: url('../font/8483_0.ttf') format('truetype'), 

  
  font-weight: bold; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Century Gothic'; 
  src: url('../font/GOTHIC_0.woff') format('woff'),
  src: url('../font/8483_0.ttf') format('truetype'), 
  font-weight: regular; 
  font-style: normal; 
}


body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic, sans-serif;
	 background-image: url('../img/bg-min.png');
  background-size: cover; 
  background-repeat: no-repeat;  height: 100vh; overflow: hidden;
}
.container{
  max-width: 1000px;

	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.layer img{
  position: relative;
  width: 100%;
	top: -250px;
  animation-name: layer;
  animation-duration:20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 
}
@keyframes layer{
from{
  transform: translate3d(-100px, -20px, 5px);
}
50%{
  transform: translate3d(0, 0px, 0);
}
to{
  transform: translate3d(-100px, -20px, 0);
}
}
.cloud img{
   position: relative;
  width: 100%;
  top: -350px;
  left: 200px;
}
/*//////////////////////////////////////////////////////////////*/
.about{
  text-align: center;
}
h1 {
	margin-top: 90px;
  margin-bottom: 50px;
	position: relative;
	/*z-index: 1;*/
	color: #fff;
    font-size: 105px;
	-webkit-animation-name: zoomIn;
	        animation-name: zoomIn;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% { 
    opacity: 1;
  }
}

/*////////////////////////////////////////////////////////////*/

.list-site{
	position: relative;
	z-index: 1;
	margin: 0;
  margin-left: 150px;
	padding: 0;
}
.list-site li {
	display: inline-block;
	padding: 15px 50px;
	color: #40b49a;
	font-size: 24px;
	background-color: rgba(255, 255, 255, .95);
	border-radius: 30px;
	margin-right: 20px;
	animation-name: bounceInUp;
	animation-duration:3s;
	position: relative;
  cursor: pointer;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}


.nav {
	display: none;
  position: absolute;
  top: 60px;
  left: 10px;
  text-align: center;
}
.nav li{
  display: block;
  animation:none;
  background-color: transparent;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  padding-top: 15px;
   
}
.nav a { 
	text-decoration: none;
	color: #fff;
	animation:none;
}
.nav li:hover {	
	animation-name:tada;
	animation-duration: 2s;
}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/*.list-site li:hover .nav {
	display: block;
    
}*/
/*//////////////////////////////////////////////////////////////////////*/

.boat{
	position: relative;
	top:-380px;
	left: 520px;

}

.boat-lg img{
  position: absolute;
  animation-name: wave-1;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
@keyframes wave-1{
  from{
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  15%{
     transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  30% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform:  rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  75% {
    transform: rotate3d(0, 0, 1, 3deg);
  }
  90%{
     transform: rotate3d(0, 0, 1, -3deg);
  }

  to{
     transform: rotate3d(0, 0, 1, 3deg);
  }
}

.boat-md{
	position: absolute;
	left: 245px;
	top: 18px;
  animation-name: wave-2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
@keyframes wave-2{
  from, to{
    transform: rotate3d(0, 0, 1, -5deg);
  }
  50% {
    transform:  rotate3d(0, 0, 1, 5deg);
  }
}

.boat-sm{
	position: absolute;
	left: 400px;
	top: 40px;
   animation-name: wave-2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
@keyframes wave-2{
  from, to{
    transform: rotate3d(0, 0, 1, -2deg);
  }
  50% {
    transform:  rotate3d(0, 0, 1, 2deg);
  }
}


/*//////////////////////////////////////////*/
/*-----------HELP CLASSES---------*/

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}