@font-face { 
  font-family: 'Century Gothic'; 
  src: url('../font/8483_0.woff') format('woff'), 
  src: url('../font/8483_0.ttf') format('truetype'), 

  
  font-weight: bold; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Century Gothic'; 
  src: url('../font/GOTHIC_0.woff') format('woff'),
  src: url('../font/8483_0.ttf') format('truetype'), 
  font-weight: regular; 
  font-style: normal; 
}

ul{
  margin: 0;
  padding: 0;
}
body{
	
	font-family: Century Gothic, sans-serif;
	overflow-x: hidden;
  background-image: url('../img/bg-min.png');
  background-size: 100%; 
  background-repeat: no-repeat;  
}
.container{ 
  max-width: 1000px;
  margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
  
}
#scene{
  top:-200px;
}
.layer img{
  width: 100%;
  position: relative;

}
.cloud img {
  width: 80%;
  left: 400px;
  position: relative;
  animation-name: layer;
  animation-duration:20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes layer{
from{
  transform: translateX(-20px);
}
50%{
   transform: translateX(20px);
}
to{
   transform: translateX(-20px);
}
}
/*//////////////////////////////////////////////////////////////*/

h1 {
	margin: 60px 0 50px;
	position: relative;
	color: #fff;
  font-size: 80px;
	-webkit-animation-name: zoomIn;
	        animation-name: zoomIn;
  -webkit-animation-duration: 3s;
            animation-duration: 3s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% { 
    opacity: 1;
  }
}

/*////////////////////////////////////////////////////////////*/

.list-site{
	position: relative;
	z-index: 1;
  margin-left: 60px;
	padding: 0;
}
.list-site li {
	display: inline-block;
	padding: 10px 50px;
	color: #40b49a;
	font-size: 20px;
	background-color: rgba(255, 255, 255, .95);
	border-radius: 30px;
	margin-right: 20px;
	animation-name: bounceInUp;
	animation-duration:3s;
	position: relative;
  cursor: pointer;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}


.nav {
	display: none;
  position: absolute;
  padding: 0;
  top: 50px;
  text-align: center;

}
.nav li{
  display: block;
  animation:none;
  background-color: transparent;
  font-size: 16px;
  line-height: 12px;
  padding: 0;
  padding-top: 15px;
   
}
.nav a { 
	text-decoration: none;
	color: #fff;
	animation:none;
}

.nav li:hover {	
	animation-name:tada;
	animation-duration: 2s;
}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/*//////////////////////////////////////////////////////////////////////*/

.boat{
	position: relative;
	top:-230px;
	left: 260px;
  z-index: -1;

}
.boat-lg {
  position: relative;
}
.boat-lg img{
  position: absolute;
  animation-name: wave-1;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.boat-lg::before{
 position: absolute;
  content: ' ';
  width: 135px;
  top: 155px;
  box-shadow: 10px 10px 20px 4px #3b3ba0;
}
@keyframes wave-1{
  from{
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  15%{
     transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  30% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform:  rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  75% {
    transform: rotate3d(0, 0, 1, 3deg);
  }
  90%{
     transform: rotate3d(0, 0, 1, -3deg);
  }

  to{
     transform: rotate3d(0, 0, 1, 3deg);
  }
}
.boat-md{
  position: relative;
}
.boat-md::before{
 position: absolute;
  content: ' ';
  width: 100px;
  top: 139px;
  left: 240px;
  box-shadow: 0 8px 20px 4px #565690;
}
.boat-md img{
	position: absolute;
	left: 245px;
	top: 25px;
  animation-name: wave-2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
@keyframes wave-2{
  from, to{
    transform: rotate3d(0, 0, 1, -5deg);
  }
  50% {
    transform:  rotate3d(0, 0, 1, 5deg);
  }
}
.boat-sm{
  position: relative;
}
.boat-sm::before{
  position: absolute;
  content: ' ';
  width: 50px;
  top: 114px;
  box-shadow: 0 8px 25px 4px #3c3cbd;
  left: 455px;
}
.boat-sm img{
	position: absolute;
	left: 450px;
	top: 50px;
   animation-name: wave-3;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
@keyframes wave-3{
  from, to{
    transform: rotate3d(0, 0, 1, -2deg);
  }
  50% {
    transform:  rotate3d(0, 0, 1, 2deg);
  }
}

/*/////////////////////////////////////////////////////////////////*/

.contact {
  float: right;
  width: 30px;
  height: 30px;
  background: url('../img/svg/designer-cup.svg') rgba(255, 255, 255, .5) 3px 3px no-repeat;
  border-radius: 30%;
  margin-right: 30px;
  cursor: pointer;
}

.active {
  background-color: #fff;
  transform: translateX(-160px);
  transition: .5s;
}

.text {
  position: relative;
  font-size: 14px;
  top: 5px;
  left: 35px;
  display: none;
  color:rgba(255, 255, 255, .7);
}




/*//////////////////////////////////////////////////////////////////////////////*/

/*--------hellp classes--------*/

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}